BETTER_AUTH_SECRET=your-secret-key-here-change-this-in-production
BETTER_AUTH_URL=http://localhost:3000/api/auth
DATABASE_URL=postgresql://postgres:password@localhost:5432/your_db

# GEL
GEL_API_KEY=test_0
GEL_DEPOT=test_1
GEL_KNR=test_2

# Amazon
AMAZON_SELLER_API_SANDBOX=true
SELLING_PARTNER_APP_CLIENT_ID=
SELLING_PARTNER_APP_CLIENT_SECRET=
AMAZON_SP_REFRESH_TOKEN=
